/*
To change this license header, choose License Headers in Project Properties. To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : 2015/11/10, 16:11:05
Author : Yoshio Terada */
.title{
  position:relative;
  margin:0 auto; 
  width:480px; 
  overflow:hidden;
} 
.login{
  position:relative; 
  margin:0 auto; 
  width:480px; 
  overflow:hidden;
} 
.chat{
  position:relative;
  margin:0 auto;
  width:480px;
  overflow:hidden;
}
.chat .messages{
  width:100%; 
  height:480px;
  overflow:hidden;
}
.chat .messages:hover{
  overflow-y:scroll; 
}
.chat .messages > div{ 
  padding:15px;
  border-bottom:1px dashed #999;
}